.recommend
    .recommend__count
        Lucy and 3 other friends recommend this hotel
    .recommend__friends
        each item in friendsRecommendation
            img(class="recommend__photo" src=`${item.src}` alt=`${item.title}`)